/* Styling */

* {
    box-sizing: border-box
} 

/* Navbar with gradient background color and centered text */
.my-navbar {
    background-image: linear-gradient(to bottom right, rgb(55, 55, 247), rgb(23, 23, 99));
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 38px;
}

/* Border colors for editing/formatting purposes  
.row {
    border: 4px solid yellow;
}

.col-sm-8 {
    border: 2px solid orange;
    
}

.container1 {
    border: 4px solid black(151, 151, 151);
}

.container2 {
    border: 4px solid red;
}

.container3 {
    border: 1px solid green;
}

.container4 {
    border: 4px solid purple;
}



*/

.container1 {
    margin: 25px;
}

.container2 h2 {
    font-size: 22px;
    margin-top: 10px;
}

.display-current-weather {
    border: 2px solid gray;
    margin: auto;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-bottom: 7px;
    padding-left: 15px;
}

.title-5-day-forecast {
    margin-bottom: 10px;
}

.display-current-weather h2 {
    font-size: 26px;
    font-weight: bold;
}

.title-5-day-forecast {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;

}

.days {
    background-color: rgb(28, 28, 78);
    padding-top: 10px
}

.days h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.days p {
    font-size: 16px;
    color: white;
}

.col-md-2 {
    margin-right: 22px;
    margin-left: 13px;
}

.day5 {
    margin-right: 0;
}

.day1 {
    margin-left: 10px;
}
    
.generated-cities-ul {
    list-style-type: none;
    padding: 0;
}

.generated-city-btn {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(163, 163, 163);
    padding: 5px;

}

.search-btn {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 5px;

}

#current-weather-icon-image {
    height: 7%;
    width: 7%;
}

.weather-icon-image {
    height: 35%;
    width: 35%;
}

